{{ if .Site.Params.options.enableImgZooming -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"
  integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<script src="/index.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  const images = Array.from(document.querySelectorAll(".blog-content img"));
  images.forEach(img => {
    mediumZoom(img, {
      margin: 10, /* The space outside the zoomed image */
      scrollOffset: 40, /* The number of pixels to scroll to close the zoom */
      container: null, /* The viewport to render the zoom in */
      template: null, /* The template element to display on zoom */
      background: 'rgba(0, 0, 0, 0.5)'
    });
  });

  var confettiElement = document.getElementById('bg-canvas');
  var confettiSettings = { target: confettiElement, clock: 10 };
  var confetti = new ConfettiGenerator(confettiSettings);

  const jsConfetti = new JSConfetti()






  addEventListener("load", (event) => {

    $('.giscus-frame').contents().find('.gsc-comment-box-buttons').click(function () {
      alert('Element with class "test" was clicked!');
    });
  });








  confetti.render();




</script>
{{ end -}}

{{ $app := resources.Get "js/app.js" -}}
{{ $slice := slice $app -}}

{{ if .Site.Params.options.showDarkMode -}}
{{ $darkModeTheme := .Site.Params.options.darkThemes}}
{{ $darkMode := resources.Get "js/darkmode.js" | js.Build (dict "params" (dict "darkModeTheme"
site.Params.darkModeTheme)) }}
{{ $slice = $slice | append $darkMode -}}
{{ end -}}

{{ $js := $slice | resources.Concat "main.js" -}}

{{ $js := $js | minify | fingerprint "sha512" -}}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>